body {
    display: grid;
    grid-template-areas:
        "header header"
        "aside main"
        "footer footer";
    grid-template-columns: 100px auto;
    gap: 10px;
   
}

header {
    grid-area: header;
    border-radius: 3px;
    background-color: rgb(181, 216, 255);
    padding: 5px 10px;

}

main {
    grid-area: main;
    border-radius: 3px;
    background-color: rgb(181, 216, 255);
    padding: 5px 10px;

}

aside { border-radius: 3px;
    background-color: rgb(181, 216, 255);
    padding: 5px 10px;

    grid-area: aside
}

footer { border-radius: 3px;
    background-color: rgb(181, 216, 255);
    padding: 5px 10px;

    grid-area: footer
}

header h1 {
    display: inline-block;
    vertical-align: middle;
}

aside nav li {
    list-style: none;
    margin: 0px;
    padding: 5px;

}