@import url("reset.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css");

:root {
  --clr-primary: #e24e2a;
  --clr-grey: #ececec;
  --clr-grey-dark: #3f3f3f;
  --clr-grey-text: #575652;
  --clr-grey-bg: #383838;
  --clr-green: #1b9772;
  --clr-green-text: #3aa483;
  --clr-green-link: #8ec2aa;
  --clr-white: #fff;

  --header-height: 66px;
}

body {
  font-family: Helvetica, sans-serif;
  color: var(--clr-grey-dark);
}

/* Navigation */

.header {
  position: sticky;
  top: 0px;
  left: 0px;
  z-index: 100;
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 2rem;
  background-color: var(--clr-white);
}

.header .logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.header .logo .main {
  font-weight: bold;
  font-size: 46px;
  line-height: 1;
}
