	body{    width: 700px
    }
	body section{font-style: italic;
	color: #5c6e91;
    
}

article{padding: 5px 15px;
	background-color: #f2f4c0;
	border: 1px solid #b2ad7d;
    margin: 15px 10px;
}
  body{ background-color: #e4e978} 
	
	
