
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;1,100;1,300;1,400;1,700&family=Montserrat:ital,wght@0,200;0,400;1,200;1,600&display=swap');
html{
    font-family: 'Lato', sans-serif;
}
p{font-family: 'Montserrat', sans-serif;}


.calender{
display: inline-block;
margin-inline: auto;

}
.section{
    max-width:80%;
    margin: 0 auto;
    box-shadow: -5px 7px 57px -3px rgba(51, 51, 51, 0.437);
    -webkit-box-shadow: -5px 7px 57px -3px rgba(51, 51, 51, 0.584);
    -moz-box-shadow: -5px 7px 57px -3px rgba(51, 51, 51, 0.589);}
.container{
    background-color: orange;
    color: white;
    padding: 0.8rem 0.7rem
}
 .time{
    color: grey;
    font-size:9px;
    margin-bottom:15px

 }
.calender-tasks li{
    padding : 1rem;
    padding-top: 1rem;
    padding-bottom: 2rem;
    border-bottom: 1px solid grey

}

.task-heading{
    margin-bottom :0.8rem;
    font-size:18px;
    font-weight: 600;
}
.span-wrapper{
    margin-bottom:0.7rem;
}

.descriptions{
    font-size:15px;
    font-weight: 100
}
